{% extends 'template.html.twig' %}

{% block title %}
	{{ Page_title }}
{% endblock %}

{% block headContent %}
	<div class="header__content">
		<img src="/images/afrique.png" alt="l'Afrique 100% en ligne">
		<h1>
			<b>Décrochez</b>
			vos
			<b>diplômes</b>,
			<b>certificats</b>,
			<b>attestations</b>
			depuis chez vous à des
			<b>prix préférentiels</b>
		</h1>
		<div class="header__center">
			<div class="header__center__form">
				<form action="/" method="post">
					<div class="form">
						<input type="text" name="search" id="search" placeholder="Trouver une formation">
						<button type="submit" class="form__button">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</form>

				<button class="button button--yellow" id="filter">Catégories</button>
				<div class="burger">
					<div class="burger__bar"></div>
				</div>
			</div>
		</div>
		<img src="./images/header-right.png" alt="l'Afrique 100% en ligne" style="width: 18rem;">
	</div>
{% endblock %}

{% block main %}

	<aside class="filter  filter__main" id="filter-target">
		<div>
			<h2 class="filter__title">
				Niveaux
				<small>
					<a href="/">Tous les niveaux</a>
				</small>
			</h2>
			<ul class="filter__elements">
				{% for sanction in sanctions %}
					<li>
						<a href="#" class="button">{{ sanction.sanction }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="filter__dom">
			<h2 class="filter__title">
				Domaines
				<small>
					<a href="/">Tous les domaines</a>
				</small>
			</h2>

			<ul class="filter__elements filter__elements--dom">

				{% for category in categories %}
					<li>
						<a href="#" class="button button--filter">
							<img src="{{ category.iconeUrl }}" class="filter__img">
							{{ category.category }}
						</a>
					</li>
				{% endfor %}

			</ul>
		</div>
	</aside>

	<section class="formation" id="formation">
		<h2 class="main__title" >Nos Formations</h2>

		<div class="formation__contents">

			{% for formation in formations %}


				<div class="card">
					<div class="card__header">
						<img class="card__badge" src="{{ formation.university.logoUrl}}" alt="EvolutiV">
						<img class="card__img" src="{{ formation.vignetteUrl }}" alt="titre de la formation">
					</div>
					<div class="card__body">
						<a href="#">
							<h3>{{ formation.title }}</h3>
							<span class="invisible" style="position: absolute; inset: 0;"></span>
						</a>
						<ul>
							<li>
								{% for category in formation.categories %}
									<img class="filter__img" src="{{ category.iconeUrl }}"/>
									{{ category.category}}
								{% endfor %}
							</li>
							<li>
								<i class="fa-solid fa-medal"></i>
								{{ formation.prerequisite }}
							</li>
							<li>
								<i class="fa-solid fa-graduation-cap"></i>
								{{ formation.sanction.sanction }}
							</li>
							<li>
								<i class="fa-solid fa-display"></i>
								100% en ligne
							</li>
						</ul>
					</div>
				</div>


			{% endfor %}

			{{ knp_pagination_render(formations) }}

		</div>
	</section>

{% endblock %}
