{% extends 'template.html.twig' %}

{% block title %}
	{{ Page_title }}
{% endblock %}

{% block headContent %}
	{% include "./components/headBanner.html.twig" %}
{% endblock %}

{% block main %}

	<aside class="filter  filter__main" id="filter-target">
		<div>
			<h2 class="filter__title" id="niveau">
				Niveaux
				<small>
					<a href="/#formation">Tous les niveaux</a>
				</small>
			</h2>
			<ul class="filter__elements">
				{% for sanction in sanctions %}
					<li>
						<a href="{{ path('app_home_filter', {filter:sanction.sanction}) }}" class="button">{{ sanction.sanction }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="filter__dom">
			<h2 class="filter__title" id>
				Domaines
				<small>
					<a href="/#formation">Tous les domaines</a>
				</small>
			</h2>

			<ul class="filter__elements filter__elements--dom">

				{% for category in categories %}
					<li>
						<a href="{{ path('app_home_filter', {filter:category.category}) }}" class="button button--filter">
							<img src="{{ category.iconeUrl }}" class="filter__img">
							{{ category.category }}
						</a>
					</li>
				{% endfor %}

			</ul>
		</div>
	</aside>

	<section class="formation" id="formation">
		<h2 class="main__title">Nos Formations</h2>

		<div class="formation__contents">

			{% for formation in formations %}


				<div class="card">
					<div class="card__header">
						<img class="card__badge" src="{{ asset(formation.university.logoUrl)}}" alt="EvolutiV">
						<img class="card__img" src="{{ asset(formation.vignetteUrl) }}" alt="titre de la formation">
					</div>
					<div class="card__body">
						<a href="{{ path('app_formations', {id:formation.id}) }}">
							<h3>{{ formation.title }}</h3>
							<span class="invisible" style="position: absolute; inset: 0;"></span>
						</a>
						<ul>
							<li>
								{% for category in formation.categories %}
									<img class="filter__img" src="{{ category.iconeUrl }}"/>
									{{ category.category}}
								{% endfor %}
							</li>
							<li>
								<i class="fa-solid fa-medal"></i>
								{{ formation.prerequisite|raw }}
							</li>
							<li>
								<i class="fa-solid fa-graduation-cap"></i>
								{{ formation.sanction.sanction }}
							</li>
							<li>
								<i class="fa-solid fa-display"></i>
								100% en ligne
							</li>
						</ul>
					</div>
				</div>


			{% endfor %}

			{{ knp_pagination_render(formations) }}

		</div>
	</section>

	<section class="raison">
		<h2 class="main__title">Pourquoi evolutiv ?</h2>
		<p class="raison__intro">
			EvolutiV est une plateforme 100% en ligne répertoriant et propageant des offres de formation sur les
															                continents Africain et dans l'Océan Indien.
		</p>
		<div class="raison__contents">
			<img src="{{ asset('images/cert.png') }}" alt="Les certificats venant de vos">

			<ul class="raison__elements">
				<li>
					<img src="{{ asset('images/icon/circle-01.png') }}" alt="online library">
					<div>
						<h3>Une large gamme de formation à votre disposition</h3>
						<p>
							Envie de monter en Compétences ou d'explorer un autre domaine ? Nous répondons à vos
																																			                                besoins à travers nos offres de formation par secteurs, par sanction et par cout.
						</p>
					</div>
				</li>
				<li>
					<img src="{{ asset('images/icon/circle-02.png') }}" alt="hight five">
					<div>
						<h3>Un accompagnement personnalisé</h3>
						<p>
							En plus des suivis et accompagnements venant de nos partenaires, notre équipe
																																			                                pédagogique sera mise à votre disposition et à votre écoute tout le long de la
																																			                                formation.
						</p>
					</div>
				</li>
				<li>
					<img src="{{ asset('images/icon/circle-03.png') }}" alt="all online">
					<div>
						<h3>Une inscription à portée de main</h3>
						<p>
							Votre choix est fait, inscrivez-vous directement et facilement sur le site sans vous
																																			                                déplacer.
						</p>
					</div>
				</li>
				<li>
					<img src="{{ asset('images/icon/circle-04.png') }}" alt="100% en ligne">
					<div>
						<h3>Un Tarif préférentiel pour vous</h3>
						<p>
							EvolutiV négocie des tarifs remisés auprès des partenaires correspondant à votre budget
																																			                                !
						</p>
					</div>
				</li>
				<li>
					<img src="{{ asset('images/icon/circle-05.png') }}" alt="e-learning">
					<div>
						<h3>Une formation/étude digitalisée</h3>
						<p>
							Disposez sur tous vos appareils connectés, un accés sur vos cours et notre bibliothèque
																																			                                numérique.
						</p>
					</div>
				</li>
				<li>
					<img src="{{ asset('images/icon/circle-06.png') }}" alt="Calendrier">
					<div>
						<h3>Une liberté sur votre temps</h3>
						<p>
							Avec EvolutiV, vous vous formez en fonction de votre enploi du temps et sans contrainte
																																			                                sur votre disponibilité.
						</p>
					</div>
				</li>
				<li>
					<img src="{{ asset('images/icon/circle-03.png') }}" alt="All online">
					<div>
						<h3>Un plus votre CV</h3>
						<p>
							Grace à nous, vous pouvez bébéficier d'un diplôme / certificat / attestation
																																			                                internationaux à la fin de votre formation.
						</p>
					</div>
				</li>
				<li>
					<img src="{{ asset('images/icon/circle-07.png') }}" alt="graduation">
					<div>
						<h3>Un parcours académique efficace et performant</h3>
						<p>
							A votre rythme et à tout moment, vous pouvez bénéficier de meilleures formations
																																			                                complètes et certifiantes sur notre plateforme.
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="partenaire">
		<h2 class="main__title">Découvrez nos partenaires</h2>
		<div class="partenaire__content">
		{% for university in universities %}
			<a href="{{ university.siteUrl }}">
				<img src="{{ university.logoUrl }}" alt="{{ university.university }}">
			</a>
		{% endfor %}
	</section>

{% endblock %}
