{% extends 'adminTemplate.html.twig' %}

{% block title %}
	{{ Page_title }}
{% endblock %}

{% block main %}
	{% if app.request.attributes.get('_route') == 'app_admin_formation' %}
        <h2>Ajouter une formation</h2>
    {% elseif app.request.attributes.get('_route') == 'app_admin_formationUp' %}
        <h2>Modiffier la formation</h2>
    {% endif %}
	
	{{ form_start(formationForm, {'attr': {'class':'row g-3'}}) }}

	<div class="mb-3">
		{{ form_row(formationForm.title) }}
	</div>

	<div class="mb-3">
		{{ form_row(formationForm.generality) }}
	</div>

	<div class="col-md-6">
		{{ form_row(formationForm.prerequisite) }}
	</div>

	<div class="col-md-6">
		{{ form_row(formationForm.finality) }}
	</div>

	<div class="col-6">
		{{ form_row(formationForm.duration) }}
	</div>

	<div class="col-6">
		{{ form_row(formationForm.prices) }}
	</div>

	<div class="mb-3">
		{{ form_row(formationForm.purpose) }}
	</div>

	<div class="mb-3">
		{{ form_row(formationForm.contents) }}
	</div>

	<div class="form-check">
		{{ form_row(formationForm.priority) }}
	</div>

	<div class="mb-3">
		{{ form_row(formationForm.vignette_url) }}
	</div>

	<div class="mb-3">
		<span style="font-weight:500;text-transform: uppercase;text-decoration: underline;font-size: 1rem;">Les sanctions</span>
		{{ form_row(formationForm.sanction) }}
	</div>

	<div class="mb-3">
		<span style="font-weight:500;text-transform: uppercase;text-decoration: underline;font-size: 1rem;">Les catégories</span>
		{{ form_row(formationForm.categories) }}
	</div>

	<div class="mb-3">
		<span style="font-weight:500;text-transform: uppercase;text-decoration: underline;font-size: 1rem;">Les universités</span>
		{{ form_row(formationForm.university) }}
	</div>


	<input type="submit" class="col-12 btn btn-primary" value="Ajouter">
	{{ form_end(formationForm) }}

{% endblock %}
